label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-color: #FFF;
    background-size: cover;
    cursor: pointer;
    height: 160px;
}

label#thumbnail div.layer {
    display:flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail div.layer {
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

label#thumbnail div.layer {
    background-color: transparent;
}

label#thumbnail.has-thumbnail:hover div.layer {
    background-color: rgba(0, 0, 0, 0.2);
}

label#thumbnail div.layer input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail:hover {
    border: 1px dashed #ddd;
}

label#thumbnail.has-thumbnail div.layer img {
    display: none;
}

label#thumbnail:hover.has-thumbnail div.layer img {
    display: block;
}